.working,
.done {
  width: 330px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 5px solid rgb(1, 87, 65);
  border-radius: 10px;
}

.title {
  font-size: 1.8rem;
  margin: 10px;
}

.todo {
  font-size: 1.15rem;
  margin: 10px;
}
